.footer
{
    height: 19.7rem;
    padding: 2rem 2.5rem;
    background-color: $dark-bkgc;
    color: $white-color;


    &__title
    {
        padding-bottom: 1.3rem;
        @include font ($logo-font, 1.8rem, 400);
    }

    &__item h4
    {
        @include font ($text-font, 1.6rem, 400, 1.67);
    }

    .fas
    {
        font-size: 1.28rem;
        &.fa-hands-helping 
        {
            -webkit-transform: scale(0.7, 1);
            -ms-transform: scale(0.7, 1);
            transform: scale(0.7, 1);//écrasement latéral du picto poignée de main
            padding-right: 1rem;
            margin-left: -0.4rem;
        }
        &.fa-utensils 
        {
            padding-right: 1.2rem;
            margin-top: -0.2rem;
        }
    }
}