.header
{
    min-height: 63px;
    padding-top: 23px;
    padding-bottom: 12px;
    
    display: flex;
    justify-content: space-around;
    
    &__logo
    {
        width: 44%;
    }
}