/* line 1, ../../Users/joufl/Documents/FormationsDevWeb/openclassrooms/P3_ohmyfood/GwendolineBenateau_3_22022021/sass/base/_base.scss */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

/* line 10, ../../Users/joufl/Documents/FormationsDevWeb/openclassrooms/P3_ohmyfood/GwendolineBenateau_3_22022021/sass/base/_base.scss */
body {
  box-sizing: border-box;
  background-color: #ffffff;
  color: #000000;
  width: 100%;
  margin: auto; }

/* line 19, ../../Users/joufl/Documents/FormationsDevWeb/openclassrooms/P3_ohmyfood/GwendolineBenateau_3_22022021/sass/base/_base.scss */
ul, li, a {
  list-style: none;
  text-decoration: none;
  color: inherit; }
  /* line 24, ../../Users/joufl/Documents/FormationsDevWeb/openclassrooms/P3_ohmyfood/GwendolineBenateau_3_22022021/sass/base/_base.scss */
  ul:visited, li:visited, a:visited {
    color: inherit; }

/* line 1, ../../Users/joufl/Documents/FormationsDevWeb/openclassrooms/P3_ohmyfood/GwendolineBenateau_3_22022021/sass/layout/_header.scss */
.header {
  min-height: 63px;
  padding-top: 23px;
  padding-bottom: 12px;
  display: flex;
  justify-content: space-around; }
  /* line 10, ../../Users/joufl/Documents/FormationsDevWeb/openclassrooms/P3_ohmyfood/GwendolineBenateau_3_22022021/sass/layout/_header.scss */
  .header__logo {
    width: 44%; }

/* line 1, ../../Users/joufl/Documents/FormationsDevWeb/openclassrooms/P3_ohmyfood/GwendolineBenateau_3_22022021/sass/layout/_footer.scss */
.footer {
  background-color: #343434;
  color: #ffffff;
  height: 197px;
  padding: 20px 25px;
  line-height: 1.67; }
  /* line 9, ../../Users/joufl/Documents/FormationsDevWeb/openclassrooms/P3_ohmyfood/GwendolineBenateau_3_22022021/sass/layout/_footer.scss */
  .footer__title {
    font-family: "Shrikhand", cursive, sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 13px;
    margin: 0; }
  /* line 18, ../../Users/joufl/Documents/FormationsDevWeb/openclassrooms/P3_ohmyfood/GwendolineBenateau_3_22022021/sass/layout/_footer.scss */
  .footer__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; }
  /* line 25, ../../Users/joufl/Documents/FormationsDevWeb/openclassrooms/P3_ohmyfood/GwendolineBenateau_3_22022021/sass/layout/_footer.scss */
  .footer__list h5 {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400; }
  /* line 32, ../../Users/joufl/Documents/FormationsDevWeb/openclassrooms/P3_ohmyfood/GwendolineBenateau_3_22022021/sass/layout/_footer.scss */
  .footer .fas {
    font-size: 12.8px; }
    /* line 35, ../../Users/joufl/Documents/FormationsDevWeb/openclassrooms/P3_ohmyfood/GwendolineBenateau_3_22022021/sass/layout/_footer.scss */
    .footer .fas.fa-hands-helping {
      transform: scale(0.7, 1);
      padding-right: 10px;
      margin-left: -4px; }
    /* line 41, ../../Users/joufl/Documents/FormationsDevWeb/openclassrooms/P3_ohmyfood/GwendolineBenateau_3_22022021/sass/layout/_footer.scss */
    .footer .fas.fa-utensils {
      padding-right: 12px;
      margin-top: -2px; }

/* line 1, ../../Users/joufl/Documents/FormationsDevWeb/openclassrooms/P3_ohmyfood/GwendolineBenateau_3_22022021/sass/pages/_home.scss */
.position {
  height: 50px;
  padding: 20px;
  color: #353535;
  background: #EAEAEA;
  box-shadow: inset 0px 2px 5px #CECECE;
  display: flex;
  align-items: center;
  justify-content: center; }
  /* line 12, ../../Users/joufl/Documents/FormationsDevWeb/openclassrooms/P3_ohmyfood/GwendolineBenateau_3_22022021/sass/pages/_home.scss */
  .position__result {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    font-weight: 700; }
  /* line 21, ../../Users/joufl/Documents/FormationsDevWeb/openclassrooms/P3_ohmyfood/GwendolineBenateau_3_22022021/sass/pages/_home.scss */
  .position .fas.fa-map-marker-alt {
    margin-left: -30px;
    margin-right: 15px; }

/*# sourceMappingURL=style.css.map */