/* line 1, ../../Users/joufl/Documents/FormationsDevWeb/openclassrooms/P3_ohmyfood/GwendolineBenateau_3_22022021/sass/base/_base.scss */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

/* line 11, ../../Users/joufl/Documents/FormationsDevWeb/openclassrooms/P3_ohmyfood/GwendolineBenateau_3_22022021/sass/base/_base.scss */
html, body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin: auto;
  background-color: #ffffff;
  font-size: 62.5%;
  color: #000000; }

/* line 22, ../../Users/joufl/Documents/FormationsDevWeb/openclassrooms/P3_ohmyfood/GwendolineBenateau_3_22022021/sass/base/_base.scss */
ul, li, a {
  list-style: none;
  text-decoration: none;
  color: inherit; }
  /* line 27, ../../Users/joufl/Documents/FormationsDevWeb/openclassrooms/P3_ohmyfood/GwendolineBenateau_3_22022021/sass/base/_base.scss */
  ul:visited, li:visited, a:visited {
    color: inherit; }

/* line 1, ../../Users/joufl/Documents/FormationsDevWeb/openclassrooms/P3_ohmyfood/GwendolineBenateau_3_22022021/sass/components/_buttons.scss */
.btn {
  width: 21.8rem;
  height: 5rem;
  border-radius: 2.5rem;
  -webkit-box-shadow: 0 5px 10px 0 #cecece;
  box-shadow: 0 5px 10px 0 #cecece;
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: -webkit-linear-gradient(top left, #FF79DA, #9356DC);
  background: -o-linear-gradient(top left, #FF79DA, #9356DC);
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  color: white;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

/* line 1, ../../Users/joufl/Documents/FormationsDevWeb/openclassrooms/P3_ohmyfood/GwendolineBenateau_3_22022021/sass/layout/_header.scss */
.header {
  min-height: 6.3rem;
  padding-top: 2.3rem;
  padding-bottom: 1rem;
  text-align: center; }
  /* line 8, ../../Users/joufl/Documents/FormationsDevWeb/openclassrooms/P3_ohmyfood/GwendolineBenateau_3_22022021/sass/layout/_header.scss */
  .header__logo {
    width: 44%; }

/* line 1, ../../Users/joufl/Documents/FormationsDevWeb/openclassrooms/P3_ohmyfood/GwendolineBenateau_3_22022021/sass/layout/_footer.scss */
.footer {
  height: 19.7rem;
  padding: 2.5rem;
  background-color: #353535;
  color: #ffffff; }
  /* line 8, ../../Users/joufl/Documents/FormationsDevWeb/openclassrooms/P3_ohmyfood/GwendolineBenateau_3_22022021/sass/layout/_footer.scss */
  .footer__title {
    padding-bottom: 1.9rem;
    font-family: "Shrikhand", cursive, sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1; }
  /* line 14, ../../Users/joufl/Documents/FormationsDevWeb/openclassrooms/P3_ohmyfood/GwendolineBenateau_3_22022021/sass/layout/_footer.scss */
  .footer__list h4 {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.67; }
  /* line 19, ../../Users/joufl/Documents/FormationsDevWeb/openclassrooms/P3_ohmyfood/GwendolineBenateau_3_22022021/sass/layout/_footer.scss */
  .footer .fa-hands-helping {
    font-size: 1.28rem;
    -webkit-transform: scale(0.7, 1);
    -ms-transform: scale(0.7, 1);
    transform: scale(0.7, 1);
    padding-right: 1rem;
    margin-left: -0.4rem; }
  /* line 29, ../../Users/joufl/Documents/FormationsDevWeb/openclassrooms/P3_ohmyfood/GwendolineBenateau_3_22022021/sass/layout/_footer.scss */
  .footer .fa-utensils {
    font-size: 1.28rem;
    padding-right: 1.2rem;
    margin-top: -0.2rem; }

/* line 1, ../../Users/joufl/Documents/FormationsDevWeb/openclassrooms/P3_ohmyfood/GwendolineBenateau_3_22022021/sass/pages/_home.scss */
.position {
  height: 5rem;
  padding: 1.8rem;
  color: #353535;
  background: #eaeaea;
  -webkit-box-shadow: inset 0px 2px 5px #cecece;
  box-shadow: inset 0px 2px 5px #cecece;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  /* line 10, ../../Users/joufl/Documents/FormationsDevWeb/openclassrooms/P3_ohmyfood/GwendolineBenateau_3_22022021/sass/pages/_home.scss */
  .position__result {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1; }
  /* line 15, ../../Users/joufl/Documents/FormationsDevWeb/openclassrooms/P3_ohmyfood/GwendolineBenateau_3_22022021/sass/pages/_home.scss */
  .position .fa-map-marker-alt {
    font-size: 1.6rem;
    margin-left: -3.1rem;
    margin-right: 1.6rem; }

/* line 23, ../../Users/joufl/Documents/FormationsDevWeb/openclassrooms/P3_ohmyfood/GwendolineBenateau_3_22022021/sass/pages/_home.scss */
.discover {
  height: 28.7rem;
  padding: 3.7rem 3rem 5.7rem 3rem;
  background: #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: center; }
  /* line 31, ../../Users/joufl/Documents/FormationsDevWeb/openclassrooms/P3_ohmyfood/GwendolineBenateau_3_22022021/sass/pages/_home.scss */
  .discover__title {
    padding-left: 0.6rem;
    padding-right: 2.2rem;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1; }
  /* line 38, ../../Users/joufl/Documents/FormationsDevWeb/openclassrooms/P3_ohmyfood/GwendolineBenateau_3_22022021/sass/pages/_home.scss */
  .discover__byline {
    padding-bottom: 1.8rem;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1; }

/* line 45, ../../Users/joufl/Documents/FormationsDevWeb/openclassrooms/P3_ohmyfood/GwendolineBenateau_3_22022021/sass/pages/_home.scss */
.manual {
  height: 44rem;
  padding: 4.7rem 2rem; }
  /* line 50, ../../Users/joufl/Documents/FormationsDevWeb/openclassrooms/P3_ohmyfood/GwendolineBenateau_3_22022021/sass/pages/_home.scss */
  .manual__title {
    padding-bottom: 3.3rem;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1; }
  /* line 56, ../../Users/joufl/Documents/FormationsDevWeb/openclassrooms/P3_ohmyfood/GwendolineBenateau_3_22022021/sass/pages/_home.scss */
  .manual__list {
    height: 7.2rem;
    padding-top: .7rem;
    margin-bottom: 2.5rem;
    margin-left: 1rem;
    border-radius: 2.1rem;
    background: #f7f7f7;
    -webkit-box-shadow: 0 6px 8px 0 #e5e5e5;
    box-shadow: 0 6px 8px 0 #e5e5e5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1; }
    /* line 71, ../../Users/joufl/Documents/FormationsDevWeb/openclassrooms/P3_ohmyfood/GwendolineBenateau_3_22022021/sass/pages/_home.scss */
    .manual__list:hover {
      background-color: #f2eafb; }
      /* line 74, ../../Users/joufl/Documents/FormationsDevWeb/openclassrooms/P3_ohmyfood/GwendolineBenateau_3_22022021/sass/pages/_home.scss */
      .manual__list:hover > i {
        color: #9356DC; }
  /* line 81, ../../Users/joufl/Documents/FormationsDevWeb/openclassrooms/P3_ohmyfood/GwendolineBenateau_3_22022021/sass/pages/_home.scss */
  .manual__list > span {
    width: 2.2rem;
    height: 2.2rem;
    margin-left: -9px;
    background-color: #9356DC;
    color: #ffffff;
    border-radius: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  /* line 92, ../../Users/joufl/Documents/FormationsDevWeb/openclassrooms/P3_ohmyfood/GwendolineBenateau_3_22022021/sass/pages/_home.scss */
  .manual__list > i {
    color: #7f7f7f; }
  /* line 97, ../../Users/joufl/Documents/FormationsDevWeb/openclassrooms/P3_ohmyfood/GwendolineBenateau_3_22022021/sass/pages/_home.scss */
  .manual .fa-mobile-alt {
    font-size: 2rem;
    margin-left: 23px;
    margin-right: 27px; }
  /* line 104, ../../Users/joufl/Documents/FormationsDevWeb/openclassrooms/P3_ohmyfood/GwendolineBenateau_3_22022021/sass/pages/_home.scss */
  .manual .fa-list-ul {
    font-size: 1.8rem;
    margin-left: 23px;
    margin-right: 21px;
    -webkit-transform: scale(0.9, 1);
    -ms-transform: scale(0.9, 1);
    transform: scale(0.9, 1); }
  /* line 114, ../../Users/joufl/Documents/FormationsDevWeb/openclassrooms/P3_ohmyfood/GwendolineBenateau_3_22022021/sass/pages/_home.scss */
  .manual .fa-store {
    font-size: 1.6rem;
    margin-left: 25px;
    margin-right: 19px;
    -webkit-transform: scale(0.95, 1.2);
    -ms-transform: scale(0.95, 1.2);
    transform: scale(0.95, 1.2); }

/*# sourceMappingURL=style.css.map */