//appartion progressive verticale
@mixin animation-slide-up
{
    &:nth-child(1)
    {
        animation: sliderUp 1.5s ease-in-out .1s;
    }
    &:nth-child(2)
    {
        animation: sliderUp 1.7s ease-in-out .1s;
    }
    &:nth-child(3)
    {
        animation: sliderUp 1.9s ease-in-out .1s;
    }
    &:nth-child(4)
    {
        animation: sliderUp 2.1s ease-in-out .1s;
    }
}

@keyframes sliderUp
{
    from
    {
        transform: translateY(10rem);
        opacity: 0;
    }
    to
    {
        transform: translateY(0);
        opacity: 1;
    }
}