*,
*::after,
*::before 
{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

html, body
{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    margin: auto;
    background-color: $white-color;
    font-size: $base-fontsize;
    color: $black-color;
}

ul, li, a
{
    list-style: none;
    text-decoration: none;
    color: inherit;
    &:visited, &:hover
    {
        color: inherit;
    }
}