*,
*::after,
*::before 
{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body
{
    box-sizing: border-box;
    background-color: $white-color;
    color: $black-color;
    width: 100%;
    margin: auto;
}

ul, li, a
{
    list-style: none;
    text-decoration: none;
    color: inherit;
    &:visited 
    {
        color: inherit;
    }
}

