.position
{
    height: 5rem;
    padding: 1.8rem;
    color: $grey-color;
    background: lighten($grey-color, 71%);
    @include box-topshadow;   
    @include flex-center;

    &__result
    {
        @include font ($text-font, 1.6rem, 500);
    }

    .fa-map-marker-alt
    {
        font-size: 1.6rem;
        margin-left: -3.1rem;
        margin-right: 1.6rem;
    }
}

.discover
{
    height: 28.7rem;
    padding: 3.7rem 3rem 5.7rem 3rem;
    background: lighten($grey-color, 76%);    
    @include flex-column-between;
    text-align: center;

    &__title
    {
        padding-left: 0.6rem;
        padding-right: 2.2rem;
        @include font ($text-font, 2.4rem, 700);
    }

    &__byline
    {
        padding-bottom: 1.8rem;
        @include font ($text-font, 1.8rem, 300);   
    }
}

.manual
{
    height: 44rem;
    padding: 4.7rem 2rem;

    &__title
    {
        padding-bottom: 3.3rem;
        @include font ($text-font, 2.4rem, 700);    
    }

    &__list
    {
        height: 7.2rem;
        padding-top: .7rem;
        margin-bottom: 2.5rem;
        margin-left: 1rem;
        border-radius: 2.1rem;
        background: lighten($grey-color, 76%);
        @include box-lightshadow; 
        @include flex-center;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        @include font ($text-font, 1.6rem, 300); 

        &:hover
        {
            background-color: lighten($primary-color, 35%);
            & > i
            {
                color: $primary-color;
            }
        }
    }

    &__list > span
    {
        width: 2.2rem;
        height: 2.2rem;
        margin-left: -9px;
        background-color: $primary-color;
        color: $white-color;
        border-radius: 100%;
        @include flex-center;        
    }

    &__list > i
    {
        color: lighten($grey-color, 29%);
    }

    .fa-mobile-alt
    {
        font-size: 2rem;
        margin-left: 23px;
        margin-right: 27px;
    }

    .fa-list-ul
    {
        font-size: 1.8rem;
        margin-left: 23px;
        margin-right: 21px;
        -webkit-transform: scale(0.9, 1);
        -ms-transform: scale(0.9, 1);
        transform: scale(0.9, 1);
    }

    .fa-store
    {
        font-size: 1.6rem;
        margin-left: 25px;
        margin-right: 19px;
        -webkit-transform: scale(0.95, 1.2);
        -ms-transform: scale(0.95, 1.2);
        transform: scale(0.95, 1.2);
    }
}























