.position
{
    height: 50px;
    padding: 15px;
    color: $grey-color;
    background: $medium-bkgc;
    @include top-shadow;    
    display: flex;
    align-items: center;
    justify-content: center;

    &__result
    {
        font-family: $text-font;
        font-size: 16px;
        font-weight: 500;
    }

    .fas
    {
        font-size: 16px;
        &.fa-map-marker-alt
        {
            margin-left: -30px;
            margin-right: 15px;
        }
    }
}

.about
{

    height: 287px;
    padding: 37px 30px 58px 30px;

    background: $light-bkgc;    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    line-height: 1.2;

    &__title
    {
        padding: 0 31px 0 15px;
        font-family: $text-font;
        font-size: 24px;
        font-weight: 700;        
    }

    &__byline
    {
        padding-bottom: 18px;
        font-family: $text-font;
        font-size: 18px;
        font-weight: 100;        
    }

    .btn
    {
        width: 218px;
        height: 50px;
        border-radius: 25px;
        background: linear-gradient(to bottom right, $secondary-color, $primary-color);
        color: white;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}