.wallpaper
{
    height: 27rem;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    @include breakpoint
    {
        height: 100%;
        -webkit-mask-image: -webkit-gradient(linear, left bottom, left top, from(transparent), color-stop(60%, $white-color));-webkit-mask-image: -webkit-linear-gradient(bottom, transparent, $white-color 60%);mask-image: -webkit-gradient(linear, left bottom, left top, from(transparent), color-stop(60%, $white-color));mask-image: linear-gradient(to top, transparent, $white-color 60%);
    }
}

.menu
{
    background: lighten($grey-color, 76%);
    margin-top: -5rem;
    border-radius: 4rem 4rem 0 0;
    position: relative;
    @include breakpoint
    {
        width: 76.8rem;
        margin-left: auto;
        margin-right: auto;
        margin-top: -29rem;
    }

    &__title
    {
        padding: 3.9rem 7rem .3rem 2rem; 
        @include font ($logo-font, 2.8rem, 400);
    }

    &__fav
    {
        position: absolute;
        right: 6rem;
        top: 3.9rem;
    }

    &__item
    {
        padding-left: 2rem;
        padding-top: 3.5rem;
        @include font ($text-font, 1.6rem, 400);
        text-transform: uppercase;
    }


    &__divider
    {
        margin: 0.5rem 2rem;
        width: 4rem;
        height: 0.3rem;
        background-color: $tertiary-color;
    }

    &__list
    {
        height: auto;
        margin: 1.4rem;
        background: $white-color;
        border-radius: 1.5rem;
        @include box-lightshadow;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        overflow: hidden;
        cursor: pointer;
        @include animation-slide-up;
    }

    &__text
    {
        width: 100%;
        margin-left: -1.5rem;
        padding: 1.5rem 1.3rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        overflow: hidden;
        cursor: pointer;
        
        strong 
        { 
            padding-bottom: .8rem;
            @include font ($text-font, 1.8rem, 500);
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
        span 
        { 
            @include font ($text-font, 1.5rem, 300);
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }

    &__price
    {
        width: 7rem;
        @include font ($text-font, 1.6rem, 900);
        color: $grey-color;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        padding-bottom: 1.5rem;
    }

    &__btn
    {
        margin: 0 auto;
        padding-top: 3.7rem;
        padding-bottom: 7.2rem;
        text-align: center;
        width: 18.6rem;
    }
}

