.wallpaper
{
    height: 27rem;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.menu
{
    background: lighten($grey-color, 76%);
    margin-top: -5rem;
    border-radius: 4rem 4rem 0 0;
    position: relative;

    &__title
    {
        padding: 3.9rem 2rem .3rem 2rem; 
        @include font ($logo-font, 2.8rem, 400);
    }

    &__fav
    {
        position: absolute;
        right: 6rem;
        top: 3.9rem;
    }

    &__item
    {
        padding-left: 2rem;
        padding-top: 3.5rem;
        @include font ($text-font, 1.6rem, 400);
        text-transform: uppercase;
    }


    &__divider
    {
        margin: 0.5rem 2rem;
        width: 4rem;
        height: 0.3rem;
        background-color: $tertiary-color;
    }

    &__list
    {
        height: auto;
        padding:  1.4rem 1.1rem;
        margin: 1.4rem;
        border-radius: 1.5rem;
        background: $white-color;
        @include box-lightshadow; 
        position: relative;
        @include animation-slide-up;

        h3
        {
            width: 82%;
            @include font ($text-font, 1.8rem, 500);
            padding-bottom: .8rem;
        }

        p
        {
            @include font ($text-font, 1.5rem, 300);   
        }

        span
        {
            @include font ($text-font, 1.6rem, 900);
            color: $grey-color;
            position: absolute;
            right: 1.9rem;
            bottom: 1.2rem;
        }
    }

    &__btn
    {
        padding-top: 3.7rem;
        padding-bottom: 7.2rem;
        margin-left: auto;
        margin-right: auto;
        width: 18.6rem;
    }
}
