//colors theme
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
//background colors
$light-bkgc: #F6F6F6;
$medium-bkgc: #EAEAEA;
$dark-bkgc: #343434;
//colors base
$black-color: #000000;
$white-color: #ffffff;



//$heading-shadow-size: .55rem;
//$layout-margin: 6rem;
//$grid-gutter: $layout-margin * .25;
